.myModal{
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.myModalContent{
    position: relative;
    padding: 25px;
    background: white;
    border-radius: 15px;
    min-width: 250px;
}
.modalBtn {
    position: absolute;
    background: #ff0000 ;
    color: #ffffff;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    border: 1px solid transparent;
    height: 20px;
    width: 20px;
}
.myModal.active{
    display:flex;
    justify-content: center;
    align-items: center;
}