* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  min-height: 100%;
  background: url(../src/components/img/pexels_gradienta_6985003.jpg)  center center/cover no-repeat;
}
#root {
  display: flex;
  justify-content: center;
}
.App {
  width: 800px;
}
.instruments {
  display: flex;
  justify-content: space-between;
}
.post {
  padding: 15px;
  background: rgba(175, 208, 216, 0.25);
  border: 2px solid teal;
  border-radius: 10px;
  margin-top: 15px;
  
  align-items: center;
}
.post_title {
  margin-left: 8px;
}
.post_content {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
}
.head, .noposts{
  text-align: center;
  margin-top: 15px;
}

.remove_btn {
  padding: 5px 15px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 14px;   
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.selectedItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 40px;
  margin-top: 10px;
  font-size: 20px;
}
.selectedPost {
  background: rgba(172, 172, 172, 0.25);
  border-radius: 5px;
  margin: 0 5px;
  padding: 5px 12px;
}
.selectedPostInfo {
  background: rgba(172, 172, 172, 0.25);
  border-radius: 5px;
  margin: 0 5px 0 0 ;
  padding: 5px 12px;
}



